.absolute-centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.absolute-centered-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


html {
  max-height: 100vh;
}

.scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
